<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WorkspaceRoot" value="/Users/nofar/Desktop/gbbexpender/GBBExpender" />
    <add key="CppDescriptorsPath" value="Extended_GBB/Applications/SDK/Descriptors" />
    <add key="CppMessagesPath" value="Extended_GBB/Applications/SDK/Messages" />
    <add key="CppIncPath" value="Extended_GBB/Applications/SDK/Inc" />
    <add key="CppDllPath" value="Extended_GBB/Applications/SDK/ExtendedSizeDLL" />
    <add key="CsDescriptorsPath" value="HartechExtension_CS/NavyGBBWrapper/Descriptors" />
    <add key="CsMessagesPath" value="HartechExtension_CS/NavyGBBWrapper/Messages" />
    <add key="CsEnumsPath" value="HartechExtension_CS/NavyGBBWrapper/NavyEnums.cs" />
    <add key="CsAgentPath" value="HartechExtension_CS/NavyGBBWrapper/NavyBaseAgent.cs" />
  </appSettings>
</configuration>
